<div id="cosmos_set">
  <h4 class="text-center">Cosmos Recomendados</h4>
  <%= link_to  "Cadastrar Set de Cosmos", new_character_cosmos_set_path(@character), class: 'admin' %>

  <% cosmos_sets.each do |cosmos_set| %>
  <div class="card-glow mb-4 mx-auto p-1" style="max-width: 300px;">
    <div class="row m-0 p-0">

      <% cosmos_set.cosmos.each do |cosmo| %>
        <div class="col-3 py-2">
          <% if cosmo.picture.attached? %>
            <%= image_tag cosmo.picture, class: 'img-fluid', title: cosmo.name %>
          <% end %>
        </div>
      <% end %>

      <div class="admin">
        <%= link_to 'Editar', edit_character_cosmos_set_path(@character, cosmos_set), class: 'edit' %>
        <%= link_to 'Deletar', character_cosmos_set_path(@character, cosmos_set), method: :delete,
        data: {confirm: "Remover o Set de Cosmos?"}, class: 'delete text-danger' %>
      </div>
    </div>
  </div>
  <% end %>
</div>