<div class="image-box">
  <div class="pos-absolute">
    <h1 class="text-center"> Saint Seiya Awakening Database </p>
  </div>
  <%= image_tag 'shared/banner.jpg', class: 'img-fluid card-glow' %>
</div>
