<div class="my-4">
  <div class="pos-absolute">
    <h1 class="text-center"> Saint Seiya Awakening Database </p>
  </div>
  <%= image_tag 'shared/banner.jpg', class: 'img-fluid card-glow' %>
</div>
<% if @banner %>
  <hr>
  <h1>Banner da Semana</h1>
  <%= render @banner %>
<% end %>
