<h1>Todos os ranks</h1>
<%= link_to  "Registrar novo rank", new_rank_path %>
<ul>
  <% @ranks.reverse_each do |rank| %>
    <li>
      <%= rank.name %>
      | <%= link_to  "Editar", edit_rank_path(rank) %>
      | <%= link_to  "Deletar", rank_path(rank), method: :delete %>
    </li>
  <% end %>
</ul>