<h1>Listagem de todos personagens</h1>
<%= link_to  "Cadastrar novo personagem", new_character_path %>
<ul>
  <% @characters.each do |character| %>
    <li><%= link_to character.name, character %></li>
  <% end %>
</ul>