@import "~bootstrap/scss/bootstrap";
@import "navbar";
@import "footer";
@import "home";
@import "character";
@import "forms";


@import url('https://fonts.googleapis.com/css?family=Montserrat:500|Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

// scrollbar
body {
  overflow-y: scroll;
  overflow-x: hidden;
}

.container {
  min-height: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e5c100;
}

body {
  background-image: url("https://data.whicdn.com/images/112320164/original.jpg");
  font-family: 'Source Code Pro', monospace;
  font-family: 'Montserrat', sans-serif;
  color: #ddd;
}

h1 {
  color: #ddd;
}

@include media-breakpoint-down(md) {
  .container {
    width: 100%;
    max-width: none;
  }
}