@import "bootstrap";
@import "navbar";

body {
  margin-top: 100px;
  background-image: url("https://data.whicdn.com/images/112320164/original.jpg");
  // background-image: url("https://jooinn.com/images/starry-sky-1.png");
  // color: #ddd;
}

h1 {
  color: #ddd;
}