#cloth {
  display: none;
  .card-header {
    background-color: rgba(150, 0, 255, 0.25);
  }
}

.cloth-button {
  position: absolute;
  border-radius: 50%;
  border: 3px solid #dfab61;
  background-image: radial-gradient(#F5F5F5, #F5F5F5, #d6d6d6);
  width: 15%;
  height: 11%;
  bottom: 15px;
  right: 0;
  margin-right: 15px;
  outline: none !important;
  &:hover {
    background-image: radial-gradient(#fff, #fff, #e4e4e4);
    border: 3px solid #f3b35f;
  }
  svg {
    height: 100%;
    width: 100%;
    fill: #6b2db6;
    &:hover{
      fill: #7b0bc5;
    }
  }
  @media (max-width: 767px) {
    width: 30%;
    height: 23%;
    position: absolute;
  }
}

.cloth-toggle {
  svg {
    fill: #2b2e77;
    &:hover{
      fill: #000;
    }
  }
}

.admin {
  display: none;
  z-index: 1;
  min-width: 100%;
}

.delete {
  position: relative;
  bottom: 5px;
  float: right;
}

.edit {
  color: blue;
  position: relative;
  bottom: 5px;
  left: 10px;
}

.bot-right {
  position: relative;
  // bottom: 20%;
  // left: 85%;
  bottom: 25px;
  left: 70px;
}

.bottom {
  position: absolute;
  bottom: 0;
  @include media-breakpoint-down(md) {
    position: relative;
  }
}

.border-black {
  border: 3px solid black;
  border-radius: 100px;
  width: 100px;
}

.number {
  font-size: 24px;
  position: absolute;
  left: 0.4em;
  bottom: 0;
  color: white;
  text-shadow: 0 0 5px black;
  font-family: monospace;
}

.gradient {
  background-image: linear-gradient(#dde4fc, #4c536b);
}

.top-card{
  position: absolute;
  top: -18px;
  left: 15%;
}

.card-glow{
  background-color: rgba(0,0,0, 0.75);
  box-shadow: 0px 0px 19px 1px #569eea;
  color: white;
  border: none;
  border-radius: 15px;
}

.card-glow .card-header {
    background-color: rgba(0, 100, 255, 0.25);
    border-bottom: 2px solid silver;
    border-radius: 15px 50px;
    // max-height: 140px;
  }

.card-rounded {
  border-radius: 15px 50px;
}

.card-glow h5 {
  font-size: 1.5rem;
}


hr {
  border-bottom: 1px solid #888;
}

.div-table {
    display: table;
    width: 100%;
    margin-left: initial;
}
.tr {
    display: table-row;
    padding: 5px;
    background: linear-gradient(to right,  #000 0%,#888 30%,#fff 50%,#888 70%,#000 100%),  rgba(0,0,0,0.5);
    background-size: 100% 1px, 11px 58px;
    /* background-position: left bottom, left top; */
    background-repeat: no-repeat;
}

.td {
    display: table-cell;
    vertical-align: middle;
    padding: 5px;
    margin: 5px;
    width: auto;
}

.td:nth-child(2){
  text-align: center;
}

.stat-cloth{
  color: #a25af1;
  display: none;
}

.card-char {
  border-bottom: 10px solid black;
  border-radius: 12px;
}

.skill-effects {
  columns: 2;
  list-style-type: none;
}

#cosmos_set .col-3 {
  padding-left: 5px;
  padding-right: 5px;
}

.spacer {
  border: 0px;
  margin: 0px;
}


@media (max-width: 767px) {
  .div-table {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: -20px;
  }

  .div-table .tr {
    background: transparent;
    display: inline-grid;
  }

  .td span {
    display: none;
  }

  .char-img {
    margin: 1.5em -1em 0 1em;
  }


  #cosmos_set {
    .col-6  {
      padding: 0;
      .img-fluid {
        padding: 5px;
      }
    }
  }

  .skill-effects {
    columns: 1;
  }
}